<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.miniminjae.notion-inbox</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/miniminjae/.dotfiles/bin/notion-job</string>
    <string>inbox</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/miniminjae</string>
  <key>StartCalendarInterval</key>
  <array>
    <dict>
      <key>Hour</key><integer>7</integer>
      <key>Minute</key><integer>20</integer>
    </dict>
    <dict>
      <key>Hour</key><integer>19</integer>
      <key>Minute</key><integer>0</integer>
    </dict>
  </array>
  <key>StandardOutPath</key>
  <string>/Users/miniminjae/.local/state/notion-jobs/launchd-inbox.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/miniminjae/.local/state/notion-jobs/launchd-inbox.error.log</string>
</dict>
</plist>
